*,
*::before,
*::after {
    box-sizing: border-box;
    
}



img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.container {   //這裡直接吃到bootstraps的container樣式
    max-width: 1440px; 
    margin: 0 auto;
    padding: 0 12px;  
        
  
}

a {
    text-decoration: none;
}

ol, ul{
    list-style: none;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    }