.index-title {
  font-size: 100px;
}

.container-fluid {
  background-color: $bg-color;
}


//col反白
.highlight {
  background-color: #ffffff; // 這裡可以根據需要調整顏色
  color: black;
}

//transmitter群組顏色，最好是用字串('Transmitter1')去判斷
.Transmitter1 {
  background-color: rgb(255, 240, 37);
  color:black;
}

.Transmitter2 {
  background-color: rgb(0, 215, 223);
}

.Transmitter3 {
  background-color: rgb(255, 156, 242);
}

.Transmitter4 {
  background-color: rgb(255, 130, 13);
}

.Transmitter5 {
  background-color: rgb(35, 76, 255);
}

.Transmitter6 {
  background-color: rgb(255, 60, 125);
}

.Transmitter7 {
  background-color: rgb(118, 60, 255);
}