<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <!-- 標題部分 -->
    <div class="container-fluid px-4">
      <div class="d-flex justify-content-between">
        <div>
          <h2 class="text-white">Display unit </h2>
          <p class="text-white">see your display unit information in here!</p>
          <!-- BS5 下拉式選單 -->
          <select class="form-select" aria-label="Default select example">
            <option selected>Select location group here!</option>
            <option value="1">location group A</option>
            <option value="2">location group B</option>
            <option value="3">location group C</option>
          </select>
        </div>

        <button type="button" class="btn text-white createDisplayUnit" data-bs-toggle="modal"
          data-bs-target="#exampleModalToggle">
          <img src="../assets/images/add-square.png" alt="新增icon" class="pe-2">Create display unit
        </button>
      </div>


      <!-- modal 不只一個 -->

      <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content bg-primary text-white">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalToggleLabel">Modal 1</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Show a second modal and hide this one with the button below.
              <h5>Create display unit</h5>
              <div>
                <p>Location group</p>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Select location group here!</option>
                  <option value="1">location group A</option>
                  <option value="2">location group B</option>
                  <option value="3">location group C</option>
                </select>
              </div>
              <div class="d-flex">
                <div>
                  <p>Display unit model</p>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Samsung S8 monitor</option>
                    <option value="1">Samsung S5 monitor</option>
                    <option value="2">Samsung S6 monitor </option>
                    <option value="3">Samsung S7 monitor </option>
                  </select>
                </div>
                <div>
                  <p>Video port</p>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>HDMI</option>
                    <option value="1">VGA</option>
                  </select>
                </div>
              </div>
              <h5 class="mt-4">Display unit 2</h5>

              <div>
                <p>Display Unit Name</p>
                <input type="text" id="DisplayUnitName" placehoder="type your display unit name">
              </div>
              <div class="d-flex">
                <div>
                  <p>Orientation</p>
                  <div>
                    <select class="form-select" aria-label="Default select example">
                      <option selected>Landscape</option>
                      <option value="1">Portrait</option>
                    </select>
                  </div>
                </div>

                <div>
                  <p>Ratio</p>
                  <!-- input -->
                  <div class="d-flex ratio-input">
                    <div><span>row</span>
                      <input type="number" id="DisplayUnitRow" size="50" name="DisplayUnitRatio1" min="1" max="16">
                    </div>
                    <div><span>column</span>
                      <input type="number" id="DisplayUnitColumn" size="50" name="DisplayUnitRatio2" min="1" max="16">
                    </div>
                  </div>
                </div>
              </div>

              <div class="displayGrid" id="displayGrid">
                <!-- 加入display Unit  在JS -->
              </div>

              <!-- displayTable TR列表 -->
              <div id="displayTableContent">

              </div>

              <!-- modal body end -->

            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                data-bs-dismiss="modal">Open second modal</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Hide this modal and show the first with the button below.
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                data-bs-dismiss="modal">Back to first</button>
            </div>
          </div>
        </div>
      </div>
      <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Open first modal</a>

      <!-- modal 不只一個 end-->




    </div>
    </div> <!-- container-fluid  -->


    <div class="container">
      <a href="./component.html">component</a>
    </div>



    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>npm
      <script>


        //input:選取DisplayGrid欄和列數量
        const DisplayUnitRow = document.getElementById('DisplayUnitRow');
        const DisplayUnitColumn = document.getElementById('DisplayUnitColumn');
        const saveChanges = document.getElementById('saveChanges');


        //使DisplayUnitRow & DisplayUnitColumn都使用'change'監聽
        DisplayUnitRow.addEventListener('change', handleRowChange);
        DisplayUnitColumn.addEventListener('change', handleRowChange);

        //innerHTML插入目的地
        const displayGrid = document.getElementById('displayGrid');

        const displayTableContent = document.getElementById('displayTableContent');

        //放置Transmitter所產生的陣列
        let arrayTransmitter = [];  //拉到外面 由字串改定義成陣列

        //放置Receiver所產生的陣列
        let arrayReceiver = [];


        //render:先插入row 再插入col

        //將row & col儲存到陣列資料內
        const arrayData = [];
        function handleRowChange() {

          const rowValue = DisplayUnitRow.value;
          const colValue = DisplayUnitColumn.value;
          let template = "";

          // 清空 arrayData
          arrayData.length = 0;

          for (let i = 0; i < rowValue; i++) {
            template = template + `<div class="row row-style" data-rownum="${i + 1}">`;

            for (let j = 0; j < colValue; j++) {
              const colData = `<div class="col col-style border border-1 py-4 m-1 text-center fs-4 rounded" data-colnum="${j + 1}">R${i + 1} C${j + 1}</div>`;
              template = template + colData;
              //將資料存取入陣列
              arrayData.push({
                row: i + 1,
                col: j + 1
              });
            }

            template += `</div>`;
          }
          displayGrid.innerHTML = template;


          //排列下方的TR配對List
          arrayData.forEach(function (item, index) {

            // arrayList += `<option value="${index + 1}">T${index + 1}</option></select>`;


            // 排列下方的 TR 配對 List
            //map: 將T元素映射到新陣列
            arrayTransmitter = arrayData.map(function (item, index) {
              return `<option value="${index + 1}">T${index + 1}</option>`;
            });

            //map: 將R元素映射到新陣列
            arrayReceiver = arrayData.map(function (item, index) {
              return `<option value="${index + 1}">R${index + 1}</option>`; //修改:這裡的 arrayData & index要依照source device有幾台來決定
            });


            //下拉式選單元件
            // displayTableContent.innerHTML = `<div class="d-flex"><select class="form-select" aria-label="Default select example"><option selected>選擇 Transmitter${arrayTransmitter.join('')}</option></select><select class="form-select" aria-label="Default select example"><option selected>選擇 Receiver${arrayReceiver.join('')}</option></select></div>`; //修改
            allDisplayTableContent();
          })

        }




        //將arrayData數量整個拉出來,幾個電視牆下面就有幾個list的功能
        function allDisplayTableContent() {
          let allNumber = "";
          //因為簡潔，宣告變數
          const transmitterList = `<select class="form-select" aria-label="Default select example"><option selected>選擇 Transmitter${arrayTransmitter.join('')}</option></select>`;
          const receiverList = `<select class="form-select" aria-label="Default select example"><option selected>選擇 Receiver${arrayReceiver.join('')}</option></select>`;
          //修改
          const sourceDeviceList = `<select class="form-select" aria-label="Default select example"><option selected>選擇 Source Device${arrayReceiver.join('')}</option></select>`;

          arrayData.forEach(function (item, index) {
            allNumber += `<div class="d-flex"><span>${index + 1}.&nbsp</span><img src="/assets/images/Transmitter-arrow.png" alt="箭頭">${transmitterList}${receiverList}<img src="/assets/images/Transmitter-arrow.png" alt="箭頭">${sourceDeviceList}</div>`;
          })
          displayTableContent.innerHTML = allNumber;
        }

      </script>
</body>

</html>